@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Admin Section Background */
.bg-gray-1000 {
  background-color: #1000; /* Set your desired gray color */
}

/* Scrollbar styles (optional) */
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #2a2a2a;
}
